body {
	color: #333;
	font-size: 11px;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

img.leaderboard {
  position: relative;
  left: -32px;
}


ul.top-nav {
  float: right;
  list-style: none;
}
ul.top-nav li {
	display: inline;
  margin: 0;
}
ul.top-nav a {
  padding: 0.3em 0.7em;
  font-weight: bold;
  font-size: 1em;
}
ul.top-nav a.selected {
  background-color: grey;
}

.latest h3 {
  padding: 0.1em 0.7em;
  font-size: 1.1em;
  font-weight: bold;
}

.hr {
  height: 1.5em;
}

.blurb {
  height: 72px;
  overflow-y: hidden;
  margin: 0.7em 0;
  line-height: 1.3em;
}
.blurb img {
  float: left;
  margin-right: 0.3em;
  margin-bottom: 0.5em;
}
.blurb span.date {
  display: block;
  clear: right;
  font-size: 0.8em;
}

.feature {
  border: 1px solid #00c0f3;
  padding: 0.4em 0.6em;
}

.footer {
  background-color: #00c0f3;
  color: white;
}
