.container_12
  .grid_12
    %h1
      = @resource.name
    %p.posting-details
      %span.posting-date
        = @resource.release_date.strftime("%A, %B #{@resource.release_date.day.ordinalize}, %Y")
    =raw @resource.body
