.paginate.grid_12
  = will_paginate @resources, :previous_label => "<span class='previous' title='Previous' alt='Previous'>&laquo;</span>", :next_label => "<span class='next' title='Next' alt='Next'>&raquo;</span>"